{% extends "header.html" %}
{% block title %} Register page {% endblock %}
{% block login %}<link href="static/signin.css" rel="stylesheet">{% endblock %}
{% block rg %}class="active"{% endblock %}>
{% block info %}register webservice{% endblock %}
{% block content %}

      <form class="form-signin" role="form" action="" method="post">
        <h2 class="form-signin-heading">Register</h2>
        <input type="text" class="form-control" placeholder="Username" name="username" value="{{
          request.form.username }}" id="username">
          <input type="password" class="form-control" placeholder="Password" name="password" value="" id="psd">
          <input type="password" class="form-control" placeholder="ConfirmPassword" name="confirmPsd" value="" id="confirmPsd">
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Register</button>
        <p class="error" id="error">
        {% if error %}
        <strong>Error:</strong> {{ error }}
        {% endif %}
        </p>
      </form>
      <script type='text/javascript'>
      $('button').on ('click', function () {
        var output = document.getElementById('error');
        if ($('#username').val() === "") {
            output.innerHTML = "<strong>Error: </strong>please input username"
            return false;
        }
        if ($('#confirmPsd').val() === $('#psd').val()) {
          return true;
        }
        else {
          output.innerHTML = "<strong>Error: </strong>Password you retype not matches"
         return false;
        }
        })
      </script>
{% include "footer.html" %}     
{% endblock %}