<!DOCTYPE html>
<html>
  <head>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="static/favicon.png">

    <title>login@global-ssh</title>

    <!-- Bootstrap core CSS -->
    <link rel="shortcut icon" href="/static/img/favicon.png">
    <link href="static/signin.css" rel="stylesheet">
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="static/css/soon.css" rel="stylesheet">    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="/static/css/sb-admin.css" rel="stylesheet">
    <link href="/static/css/plugins/morris.css" rel="stylesheet">
    <link href="/static/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<style> 
  .row{
        margin-right:0px;
        margin-left:0px;
      }
  body { 
    background: url(/static/img/slider/3.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    }
</style>
  </head>
  


<!-- START BODY -->
<body>
  <div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/static/img/logo.png"></a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                  <li><a href="/about">About</a></li>
                  <li class="active"><a href="/login">Login</a></li>
                  <li ><a href="/register">register</a></li>
            </ul>
    </nav>
  </div>



  <div class="row">
    <div class="col-lg-12">
      <form class="form-signin" role="form" action="" method="post">
        <h2 class="form-signin-heading"><font color="white">Please sign in</font></h2>
        <input type="text" class="form-control" placeholder="Username" name="username" value="{{
          request.form.username }}" id="username">
         <input type="password" class="form-control" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Sign in</button>
        {% if error %}
        <p class="error" id="error"><strong>Error:</strong> {{ error }}
        {% endif %}
      </form>
      <script type='text/javascript'>
      $('button').on ('click', function () {
        var output = document.getElementById('error');
        if ($('#username').val() === "") {
            output.innerHTML = "<strong>Error: </strong>please input username"
            return false;
        }
      })
      </script>
  </div></div>
</body>
</html>