        <!-- Footer -->
        <footer>
            <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Global-SSH &copy; 2014 - Hiep - Dinh</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            </div>
            <!-- /.row -->
        </footer>
    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>