<html>
  <head>
    <title>{% block title %}{% endblock %}@global-ssh</title>
    <link rel="shortcut icon" href="/static/img/favicon.png">
    <link href="/static/css/bootstrap.css" rel="stylesheet">    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="/static/css/sb-admin.css" rel="stylesheet">
    <link href="/static/css/plugins/morris.css" rel="stylesheet">
    <link href="/static/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    {% block login %}{% endblock %}
    {% block table %}{% endblock %}

    <style>
    #page-wrapper{ 
      background: url(/static/img/bg.png);
      }
    </style>
  </head>
<div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/static/img/logo.png" height="40"></a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">            
            {% if 'logged_in' in session: %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>user</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i>00:00 AM</p>
                                        <p>Create connect...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">All Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">notification <span class="label label-default">notification</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ session["username"] }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/user/{{ session["username"] }}"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="/friendrq"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li {% if ac==1 %}class="active"{% endif %}>
                        <a href="/friends"><i class="fa fa-fw fa-user"></i> Friends</a>
                    </li>
                    <li {% if ac==2 %}class="active"{% endif %}>
                        <a href="/onlines"><i class="fa fa-fw fa-star"></i> Onlines</a>
                    </li>
                    <li {% if ac==3 %}class="active"{% endif %}>
                        <a href="/add"><i class="fa fa-fw fa-flag"></i> Add Friend</a>
                    </li>
                    <li {% if ac==4 %}class="active"{% endif %}>
                        <a href="/logs"><i class="fa fa-fw fa-list-alt"></i> Logs</a>
                    </li>
                    <li {% if ac==5 %}class="active"{% endif %}>
                        <a href="/friendrq"><i class="fa fa-fw fa-inbox"></i> Friend request</a>
                    </li >
                    <li {% if ac==6 %}class="active"{% endif %}>
                        <a href="/about"><i class="fa fa-fw fa-book"></i> About</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-github"></i> Demo on <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="https://github.com/nthiep/global-ssh" target="_blank">Github</a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/watch?v=FJcsQwmptoQ" target="_blank">Youtube</a>
                            </li>
                        </ul>
                    </li>
                    <div class="col-lg-12 " style="color:#dddddd">
                        <p>Global-SSH &copy; 2014</p><p>Hiep - Dinh</p>
                    </div>
                </ul>
            </div>
        </nav>
            {% else %}
            <!-- /.navbar-collapse -->
                  <li><a href="/about">About</a></li>
                  <li ><a href="/login">Login</a></li>
                  <li ><a href="/register">register</a></li>
            </ul>
          </nav>
        </div>
            {% endif %}
   <!--/.NAVBAR END-->

</head>
<body>
  <div id="page-wrapper">
    <div class="container-fluid">
  {% block content %}{% endblock %}
  </div>
</div>
</div>
<script src="/static/js/jquery-1.11.0.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/js/bootstrap.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="/static/js/plugins/morris/raphael.min.js"></script>
<script src="/static/js/plugins/morris/morris.min.js"></script>
<script src="/static/js/plugins/morris/morris-data.js"></script>