{% extends "header.html" %}
{% block title %} Home {% endblock %}
{% set ac = 0 %}
{% block content %}
<div class="container">
<div class="content">
  <h1>Welcome 
  {% if 'logged_in' in session: %}
    {{ session["username"] }}
  {% endif %} 
  to Global-SSH
  </h1>
<h3><div id="time_span"></div></h3>
{% if info %}
<h3>you are: {{ info }}</h3>
{% endif %}
</div>
<script type='text/javascript'>
      function updateTime(){
          var date = new Date().toString()
          document.getElementById('time_span').innerHTML = date;
      }
      setInterval(updateTime, 1000);
</script>
{% include "footer.html" %}
{% endblock %}
