{% extends "header.html" %}
{% block title %} login page {% endblock %}
{% block login %}<link href="static/signin.css" rel="stylesheet">{% endblock %}
{% block lg %}class="active"{% endblock %}>
{% block info %}login webservice{% endblock %}
{% block content %}

      <form class="form-signin" role="form" action="" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="form-control" placeholder="Username" name="username" value="{{
          request.form.username }}" id="username">
         <input type="password" class="form-control" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Sign in</button>
        {% if error %}
        <p class="error" id="error"><strong>Error:</strong> {{ error }}
        {% endif %}
      </form>
      <script type='text/javascript'>
      $('button').on ('click', function () {
        var output = document.getElementById('error');
        if ($('#username').val() === "") {
            output.innerHTML = "<strong>Error: </strong>please input username"
            return false;
        }
      })
      </script>    
{% include "footer.html" %}      
{% endblock %}